In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'C:\Users\shubh\Downloads\Classroom\Hackathons\SIH 2025\ARGO\Kaggle\indian_ocean_index.csv')
data.head()

,file,date,latitude,longitude,ocean,profiler_code,institution_code,date_update,wmo,cyc,institution,dac,profiler
0,aoml/1900042/profiles/D1900042_115.nc,2006-03-15 22:18:04,-39.738,90.930,I,846,AO,2015-02-27 13:25:11,1900042,115,"AOML, USA",aoml,Teledyne Webb Research float with SBE conducti...
1,aoml/1900042/profiles/D1900042_116.nc,2006-03-26 11:08:02,-39.835,90.894,I,846,AO,2015-02-27 13:25:11,1900042,116,"AOML, USA",aoml,Teledyne Webb Research float with SBE conducti...
2,aoml/1900042/profiles/D1900042_117.nc,2006-04-06 03:27:43,-39.958,90.670,I,846,AO,2015-02-27 13:25:11,1900042,117,"AOML, USA",aoml,Teledyne Webb Research float with SBE conducti...
3,aoml/1900042/profiles/D1900042_118.nc,2006-04-16 13:17:34,-39.933,90.400,I,846,AO,2015-02-27 13:25:12,1900042,118,"AOML, USA",aoml,Teledyne Webb Research float with SBE conducti...
4,aoml/1900042/profiles/D1900042_119.nc,2006-04-27 02:16:32,-39.900,89.975,I,846,AO,2015-02-27 13:25:12,1900042,119,"AOML, USA",aoml,Teledyne Webb Research float with SBE conducti...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414727 entries, 0 to 414726
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   file              414727 non-null  object
 1   date              414717 non-null  object
 2   latitude          414727 non-null  float64
 3   longitude         414727 non-null  float64
 4   ocean             414727 non-null  object
 5   profiler_code     414727 non-null  int64
 6   institution_code  414727 non-null  object
 7   date_update       414727 non-null  object
 8   wmo               414727 non-null  int64
 9   cyc               414727 non-null  int64
 10  institution       414727 non-null  object
 11  dac               414727 non-null  object
 12  profiler          414727 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 41.1+ MB

In [5]:
data.describe()

,latitude,longitude,profiler_code,wmo,cyc
count,414727.000000,414727.000000,414727.000000,4.147270e+05,414727.000000
mean,-8.777544,77.273382,847.811228,3.915643e+06,119.566240
std,19.182517,21.186296,6.589312,1.756689e+06,90.889216
min,-40.000000,30.000000,831.000000,5.354600e+04,0.000000
25%,-26.169000,61.529000,846.000000,2.900394e+06,47.000000
50%,-9.682000,76.419000,846.000000,2.902211e+06,102.000000
75%,9.610000,92.216000,846.000000,5.902470e+06,174.000000
max,25.000000,120.000000,886.000000,7.902287e+06,802.000000

In [6]:
data.nunique()

file                414727
date                413204
latitude             64680
longitude            85350
ocean                    2
profiler_code           27
institution_code        11
date_update         114299
wmo                   2859
cyc                    803
institution             11
dac                     11
profiler                27
dtype: int64

In [7]:
import pandas as pd
p = r"C:\Users\shubh\Downloads\Classroom\Hackathons\SIH 2025\ARGO\Kaggle\indian_ocean_index.csv"
df = pd.read_csv(p, parse_dates=['date','date_update'], low_memory=False)
# basic cleanup
df = df.rename(columns=lambda c: c.strip())
# ensure types
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')
# drop exact-duplicates if any
df = df.drop_duplicates()
# save parquet partitioned by year (helps query & upload)
df['year'] = df['date'].dt.year
df.to_parquet("indian_ocean_index.parquet", engine='pyarrow', index=False)

In [8]:
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://postgres:Sonali%4018@localhost:5432/argo_db")
# for smaller tables:
df.to_sql('profiles_staging', engine, if_exists='replace', index=False)
# then use SQL to move/transform into normalized tables

727

In [12]:
# Check data quality and understand the structure
print("Data shape:", df.shape)
print("\nColumn names:")
print(df.columns.tolist())

print("\nMissing values:")
print(df.isnull().sum())

print("\nDate range:")
print(f"From: {df['date'].min()} to {df['date'].max()}")

print("\nGeographic bounds:")
print(f"Latitude: {df['latitude'].min():.2f} to {df['latitude'].max():.2f}")
print(f"Longitude: {df['longitude'].min():.2f} to {df['longitude'].max():.2f}")

Data shape: (414727, 14)

Column names:
['file', 'date', 'latitude', 'longitude', 'ocean', 'profiler_code', 'institution_code', 'date_update', 'wmo', 'cyc', 'institution', 'dac', 'profiler', 'year']

Missing values:
file                 0
date                10
latitude             0
longitude            0
ocean                0
profiler_code        0
institution_code     0
date_update          0
wmo                  0
cyc                  0
institution          0
dac                  0
profiler             0
year                10
dtype: int64

Date range:
From: 1999-10-21 11:46:18 to 2025-09-05 08:54:00

Geographic bounds:
Latitude: -40.00 to 25.00
Longitude: 30.00 to 120.00

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414727 entries, 0 to 414726
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   file              414727 non-null  object
 1   date              414717 non-null  object
 2   latitude          414727 non-null  float64
 3   longitude         414727 non-null  float64
 4   ocean             414727 non-null  object
 5   profiler_code     414727 non-null  int64
 6   institution_code  414727 non-null  object
 7   date_update       414727 non-null  object
 8   wmo               414727 non-null  int64
 9   cyc               414727 non-null  int64
 10  institution       414727 non-null  object
 11  dac               414727 non-null  object
 12  profiler          414727 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 41.1+ MB

In [14]:
# Clean missing dates
print("Before cleaning - Missing dates:", df['date'].isnull().sum())

# Remove rows with missing dates (only 10 records)
df_clean = df.dropna(subset=['date']).copy()

print("After cleaning - Shape:", df_clean.shape)
print("Missing dates:", df_clean['date'].isnull().sum())

# Verify Indian Ocean bounds (this data should be Indian Ocean specific)
print(f"\nGeographic coverage:")
print(f"Latitude range: {df_clean['latitude'].min():.2f}° to {df_clean['latitude'].max():.2f}°")
print(f"Longitude range: {df_clean['longitude'].min():.2f}° to {df_clean['longitude'].max():.2f}°")

# Check ocean field - should be mostly 'I' for Indian Ocean
print(f"\nOcean distribution:")
print(df_clean['ocean'].value_counts())

# Update the year column after cleaning
df_clean['year'] = df_clean['date'].dt.year
print(f"\nYear range: {df_clean['year'].min()} to {df_clean['year'].max()}")

Before cleaning - Missing dates: 10
After cleaning - Shape: (414717, 14)
Missing dates: 0

Geographic coverage:
Latitude range: -40.00° to 25.00°
Longitude range: 30.00° to 120.00°

Ocean distribution:
ocean
I    400256
P     14461
Name: count, dtype: int64

Year range: 1999 to 2025

In [15]:
# Analyze temporal distribution
print("Profiles per year (last 10 years):")
recent_years = df_clean['year'].value_counts().sort_index().tail(10)
print(recent_years)

# Analyze float distribution
print(f"\nNumber of unique floats (WMO): {df_clean['wmo'].nunique()}")
print(f"Total profiles: {len(df_clean)}")
print(f"Average profiles per float: {len(df_clean)/df_clean['wmo'].nunique():.1f}")

# Top institutions contributing data
print(f"\nTop 5 institutions by profile count:")
print(df_clean['institution'].value_counts().head())

# Profiler types
print(f"\nTop 5 profiler types:")
profiler_counts = df_clean['profiler'].value_counts().head()
for i, (profiler, count) in enumerate(profiler_counts.items(), 1):
    print(f"{i}. {profiler[:60]}... ({count} profiles)")

Profiles per year (last 10 years):
year
2016    26454
2017    25442
2018    24294
2019    20015
2020    20718
2021    18939
2022    15943
2023    15730
2024    15958
2025    12839
Name: count, dtype: int64

Number of unique floats (WMO): 2858
Total profiles: 414717
Average profiles per float: 145.1

Top 5 institutions by profile count:
institution
AOML, USA                                       176326
INCOIS, India                                    78946
CSIRO, Australia                                 75271
Ifremer, France                                  26884
CSIO, China Second Institute of Oceanography     21548
Name: count, dtype: int64

Top 5 profiler types:
1. Teledyne Webb Research float with SBE conductivity sensor... (261063 profiles)
2. ARVOR float with SBE conductivity sensor... (33575 profiles)
3. SOLO-II float with SBE conductivity sensor... (29326 profiles)
4. PROVOR float with SBE conductivity sensor... (23855 profiles)
5. NAVIS_EBR... (14856 profiles)

In [16]:
# Create a more efficient schema for querying
# Add some derived columns that will be useful for the chatbot queries

# Extract month and season for better temporal queries
df_clean['month'] = df_clean['date'].dt.month
df_clean['season'] = df_clean['month'].map({
    12: 'Winter', 1: 'Winter', 2: 'Winter',
    3: 'Spring', 4: 'Spring', 5: 'Spring',
    6: 'Summer', 7: 'Summer', 8: 'Summer',
    9: 'Autumn', 10: 'Autumn', 11: 'Autumn'
})

# Create region categories for easier querying
def classify_region(row):
    lat, lon = row['latitude'], row['longitude']
    if lat > 0:
        return 'Northern Indian Ocean'
    elif lat > -20:
        return 'Tropical Indian Ocean'
    else:
        return 'Southern Indian Ocean'

df_clean['region'] = df_clean.apply(classify_region, axis=1)

# Check the new columns
print("Region distribution:")
print(df_clean['region'].value_counts())

print("\nSeason distribution:")
print(df_clean['season'].value_counts())

print(f"\nEnhanced dataset shape: {df_clean.shape}")

Region distribution:
region
Northern Indian Ocean    155495
Southern Indian Ocean    142478
Tropical Indian Ocean    116744
Name: count, dtype: int64

Season distribution:
season
Summer    104541
Spring    104052
Winter    103870
Autumn    102254
Name: count, dtype: int64

Enhanced dataset shape: (414717, 17)

In [17]:
# Save the enhanced dataset for the Streamlit app
df_clean.to_parquet("indian_ocean_enhanced.parquet", engine='pyarrow', index=False)
df_clean.to_sql('argo_profiles', engine, if_exists='replace', index=False, method='multi')

print("✅ Data saved successfully")

✅ Data saved successfully